<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>Material Design 前端框架</title>
    <link rel="stylesheet" href="/mavenSpringMVC/css/mdui.min.css"/>
    <link rel="stylesheet" href="/mavenSpringMVC/css/github-gist.css"/>
    <link rel="stylesheet" href="/mavenSpringMVC/css/railscasts.css"/>
    <link rel="stylesheet" href="/mavenSpringMVC/css/docs.css"/>
</head>
<body>
<div class="mdui-container doc-container">
    <h1 class="doc-title mdui-text-color-theme">分类</h1>
    <div class="mdui-col-xs-12 ">
        <div class="mdui-col-xs-12 mdui-col-sm-12">
        <div class="mdui-card mdui-hoverable">
            <br><br>
        <div class="mdui-row mdui-text-left">
            <div class="mdui-typo-subheading-opacity">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前共有&nbsp;<font color="#1e90ff"><span id="categoriesNumber"></span></font> 个分类</div>
        </div>

    <br><br>
            <div class="mdui-row mdui-text-center">
                <ul class="mdui-list" id="ulul">

                </ul>
            </div>
            </div>
            <br><br>
        </div>

    </div>
</div>

</body>
<script src="/mavenSpringMVC/js/jquery-3.2.1.min.js"></script>
<script src="/mavenSpringMVC/js/ajax.js"></script>
<script src="/mavenSpringMVC/js/smooth-scroll.min.js"></script>
<script src="/mavenSpringMVC/js/holder.min.js"></script>
<script src="/mavenSpringMVC/js/highlight.pack.js"></script>
<script src="/mavenSpringMVC/js/mdui.js"></script>
<script src="/mavenSpringMVC/js/docs.js"></script>
<script>


</script>

</html>